GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://api.ebaiacademy.com/auth/google/callback
GOOGLE_SUCCESS_REDIRECT_URL=https://www.ebaiacademy.com
TELEGRAM_BOT_TOKEN=
PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=
PAYME_CHECKOUT_BASE_URL=https://checkout.paycom.uz
PAYME_RETURN_URL=https://www.ebaiacademy.com
PAYME_TEST_MODE=false
CLICK_MERCHANT_ID=
CLICK_SERVICE_ID=
CLICK_SECRET_KEY=
CLICK_CHECKOUT_BASE_URL=https://my.click.uz/services/pay/
CLICK_RETURN_URL=https://www.ebaiacademy.com
